@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
  position: absolute;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(48, 56, 145, 0.3) 0%, rgba(57, 69, 184, 0) 80%);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease-out;
  z-index: 9999;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
